* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(97, 169, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.quote {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    width: 500px;
}

.author {
    font-weight: 600;
}

.icon i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #666;
    cursor: pointer;
    user-select: none;
}

.icon i.prev {
    left: 0;
}

.icon i.next {
    right: 0;
}

.btns {
    position: absolute;
    bottom: 20px;
    user-select: none;
}

.btns span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.btns span.active {
    background-color: #212121;
    border: none;
}